# .gitignore

## Ignore all
*
!*/

## Allow list
!.gitignore
!.gitattributes
!.git/*
!.github/*
!*.asm
!*.bak
!*.bat
!*.c
!*.cpp
!*.css
!*.csv
!*.dat
!*.el
!*.elc
!*.gif
!*.h
!*.html
!*.inc
!*.jpg
!*.js
!*.map
!*.md5
!*.md
!*.org
!*.pdf
!*.png
!*.py
!*.S
!*.sh
!*.src
!*.txt
!*.yml

## Deny list

ac-comphist.dat